body {
    font-family: "Palatino", "Palatino Linotype", "Book Antiqua", serif;;
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
    line-height: 1.6;
    background-color: #ffffff;
    color: #222;
}

header {
    display: flex;
    background-color: white;
    color: #25272dff;
    height: 40px;
    align-items: left;
    justify-content: bottom;
    margin: 0;
    padding: 0;
    width: 100%;
}

header h1 {
    margin: 0;
    padding: 0;
    line-height: 65px;
    text-transform: capitalize;
    font-variant: small-caps;
}

nav {
    display: block;
    width: 100%;
    text-align: left;
    background-color: #25272dff;
    margin-bottom: 5px;
}

nav a {
    font-size: 14px;
    margin: 0px 5px;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: color 0.3s ease-in-out;
    text-transform: capitalize;
    font-variant: small-caps;
}

nav a:hover {
    color: #fff056ff;
}

section {
    margin-top: 0px;
    margin-bottom: 10px;
}

/* ========================================================================= */
/* Link Stuff */
/* ========================================================================= */
.custom-link {
    color: #ed7028ff;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

.custom-link:hover {
    color: #f19c36ff;
}

.custom-link2 {
    color: #767676ff;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

.custom-link2:hover {
    color: #fff056ff;
}

/* ========================================================================= */
/* About Stuff */
/* ========================================================================= */
.about-container {
    display: flex;
    align-items: top;
    gap: 5px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    object-fit: center;
}

.about-text h2 {
    flex: 1;
    background-color: white;
    color: #212c49ff;
    text-transform: capitalize;
    font-variant: small-caps;
    margin: -5px -5px -5px -5px;
    padding: 0px 5px;
}

.about-text {
    flex: 1;
    font-size: 14px;
    font-weight: normal;
    background-color: #e4e4e4ff;
    padding: 0px 5px;
}

/* ========================================================================= */
/* Cell Stuff */
/* ========================================================================= */
.highlights-header h1 {
    background-color: white;
    color: #212c49ff;
    padding: 0px 5px;
    margin: 0px 0px 0px 0px;
    text-transform: capitalize;
    font-variant: small-caps;
}

.highlights-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 5px;
    background-color: #f0f0f0;
    margin: 0px 0px 0px 0px;
    margin-bottom: 5px;
    align-items: end;
}

.cell {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.cell img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin: 0px 0px;
    align-self: center;
}

.cell video {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin: 0px 0px;
    align-self: center;
}

.text1 {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    text-align: left;
    margin: 0px 0 0 0;
}

.text2 {
    font-size: 12px;
    font-weight: normal;
    color: #666;
    text-align: left;
    margin: 0px 0px 0px 5px
}

.text3 {
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    margin: 0px 0px 0px 0px;
    color: #767676ff;
    background-color: #cbcbcbff;
    border-radius: 5px;
    width: fit-content;
    padding: 0px 5px;
    display: inline-block;
}

.text4 {
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    margin: 0px 0px 0px 0px;
    color: #be4d20ff;
    background-color: #f5be44ff;
    border-radius: 5px;
    width: fit-content;
    padding: 0px 5px;
    display: inline-block;
}

/* ========================================================================= */
/* Publications List */
/* ========================================================================= */
.pub-list {
    list-style-type: none;
    padding: 0;
}

.pub-list li {
    border-left: 3px solid #212c49ff;
    background: #e4e4e4ff;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.pubtext1 {
    font-size: 16px;
    font-weight: bold;
    color: #25272dff;
    text-align: left;
    margin: 0px 0 0 0;
}

.pubtext2 {
    font-size: 14px;
    font-weight: normal;
    color: #666;
    text-align: left;
    margin: 0px 0px 0px 0px
}

.pub-list strong {
    font-size: 14px;
    font-weight: bold;
    color: #e46011ff;
}